<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Access Denied</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>

<header class="site-header">
    <h1>Secure Login System</h1>
    <p>Access Control</p>
</header>

<main>
    <div class="dashboard-card">

        <h2 style="color:#e74c3c;">Access Denied </h2>

        <p class="welcome-msg">
            Sorry, you do not have permission to access this page.
        </p>

        <!-- Warning box -->
        <div class="card" style="margin-top:15px;">
            <p>
                This area is restricted to authorized users only (Admin).
            </p>
        </div>

        <!-- Buttons -->
        <div style="margin-top:20px;">
            <a href="/dashboard" class="btn btn-primary">Back to Dashboard</a>
            <a href="/logout" class="btn btn-danger">Logout</a>
        </div>

    </div>
</main>

<footer class="site-footer">
    CSC429 Project
</footer>

</body>
</html>